---
layout: base.html
bodyClass: landing
---
{% include 'tile-gallery.html' %}
<div class="landing-columns">
	<section class="landing-about prose">
		{{ content | safe }}
	</section>
	<aside class="landing-news" aria-labelledby="news-heading">
		<h2 id="news-heading">News</h2>
		{% set postLimit = 4 %}
		{% include 'posts.html' %}
		{% set newsPage = (collections.all | forLang(lang) | selectattr("data.layout", "equalto", "posts-overview.html") | first) %}
		{% if newsPage %}<p><a class="read-more" href="{{ newsPage.url }}">All news</a></p>{% endif %}
	</aside>
</div>
