---
eleventyExcludeFromCollections: true
---
<!DOCTYPE html>
<html lang="{{ site.defaultLang }}">
<head>
  <meta charset="utf-8">
  <title>Redirecting...</title>
  <meta http-equiv="refresh" content="0; url=/{{ site.defaultLang }}/">
  <link rel="canonical" href="/{{ site.defaultLang }}/">
  <script data-goatcounter="{{ site.goatcounter }}" async src="//gc.zgo.at/count.js"></script>
</head>
<body>
  <p><a href="/{{ site.defaultLang }}/">Click here if you are not redirected.</a></p>
</body>
</html>
